/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*This is where my own css begins*/
/*

*/
body {
	font-family: 'Ubuntu', Helvetica, Sans-serif;
	font-weight: lighter;
/* how do you make font-size responsive? I googled it but it's hard! 
	even more, how would you advise to make the whole page responsive?
	I started out by positioning everything with ems, but dunno if that's
	the best approach */
	font-size: 15px;
	color: white;
	background-color: gray;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

/* I gave the body a class cause I may want to change the background-image
for other pages like about, contact etc. */
.index {
	background: url("superman.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    width: 100%;
    height: 100%;
}

/* navigation menu */
nav {
	margin-top: 1.5em;
	font-weight: lighter;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* content part */
.content {
	margin-top: 6em;
	margin-left: 5em;
	margin-right: 5em;
}

/* landing-page */
.landing-page {
	max-width: 15em;
/* why doesn't this margin auto thing center it? */
	margin: 2em auto;
	font-size: 4.5em;
	font-weight: bold;
	color: white;
}

.pretty {
	color: #FF67C0;
}

/* about, work and connect */
.section {
	max-width: 40em;
  	margin: 0px auto 60px auto;
	background-color: white;
	padding: 4em;
	min-height: 20em;
}

p {
	color: #414042;
}