/* Begin CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

/* base (definitions of what basic elements look like) */
body {
	font-family: 'Ubuntu', Helvetica, Sans-serif;
	font-weight: lighter;
	/* I'm working mobile-first. So the "basic" font size (meaning, screens up to 799px wide, phones and smaller)
	is set to 16px. */
	font-size: 16px;
	line-height: 1.3em;
	color: #333;
	background-color: gray;
}

/* still need to have a look at spacing with percentages or viewport thingies instead of ems, and when that's applicable */
p {
	margin-top: 1em;
	margin-bottom: .4em;
	color: #414042;
}

h1 {
	font-size: 2.4em;
	font-weight: bold;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

/* navigation menu */
nav {
	color: white;
	margin-top: 1.2em;
	font-weight: lighter;
	text-align: center;
	font-size: 1.4em;
}

/* Make sure you define the base size of "li" explicity, check above 
--> why though, if I have a margin set, it will adjust to the text right? that is nice */
nav li {
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* content part */
.content {
	width: 75%;
	margin: 3em auto 0 auto;
	height: 70vh;
}

/* landing-page */
.landing-page {
	background: url("superman.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.landing-page h1 {
	color: white;
	font-size: 4em;
	line-height: 1.1em;
	/* Now I still need to make a min-margin to the top so it doesn't go through the nav bar */
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.landing-page h1 em {
	font-style: normal;
	color: #FAB71D;
}

/* about, work and connect */
.about {
	background: url("superman.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-box {
  	margin: 0px auto 60px auto;
	background-color: white;
	padding: 4em;
}


/*
	MEDIA QUERIES
*/

/*
	This is how you make your page be responsive. I've commented it out so it won't confuse you; uncomment
	and play around to find your results. I just put some random things in there.

	Here's how it works:
	1) Make a media query (in the first case, monitors larger than 800px, then 1024px)
	2) place your statements inside that query (you will be repeating classes and elements here,
	basically overriding the other states.)
	3) That's it!

	In my example, this happens:
	- If the browser is larger than 800px, the font will go to 17px
	- If the browser is larger than 1024px, the background image disappears, font is larger and font becomes Helvetica

	Un-comment and play around! :)
*/
/* 
@media screen and (min-width: 800px) {

	body {
		font-size: 17px;
	}

	.content {
		width: 85%;
		margin: 0px;
	}
}

@media screen and (min-width: 1024px) {
	
	body {
		font-size: 18px;
		background-image: none;
	}

	h1 {
		font-family: Helvetica;
	}

}
*/