/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*This is where my own css begins*/

body {
	font-family: 'Ubuntu', Helvetica, Sans-serif;
	color: white;
	background-color: gray; /* only the American spelling of the word works for some reason... */
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

#index {
	background-image: url("superman.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* navigation menu */
nav {
	margin-top: 20px;
	font-weight: lighter;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

/* content part */
.content {
	margin-top: 200px;
	margin-left: 70px;
	margin-right: 70px;
}

h1 {
	font-size: 60px;
	font-weight: bold;
}

/* I know pink is a douchy girly color, but why doesnt it work? */
/* nando: Because even douchy girly colors need # before them ;) */
.pretty {
	color: #FF67C0;
}