/* Begin CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

/* base */

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	color: #160702;
	line-height: 1.3em;
	text-align: center;
}

h3 {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0.5rem 0;
}

/* layouts */

/* clearfix from http://www.sitepoint.com/clearing-floats-overview-different-clearfix-methods/ */

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
 
.clearfix:after {
  	clear: both;
}
 
.clearfix {
  	zoom: 1; /* ie 6/7 */
}

header {
	background: url("images/beans.jpg") no-repeat top center;
	background-size: 100%;
	width: 100%;
	height: auto;
}

header img {
	margin: 1% 1% 2% 1%;
    max-width: 15%;
}

nav, footer {
	background-color: #160702;
	color: #cebb99;
	width: 100%;
}

nav li {
	display: inline-block;
	width: 15%;
	max-width: 150px;
	margin: 1% 0;
}

.content {
	width: 80%;
	margin: 5% auto;
	text-align: left;
}

article {
	width: 42%;
	float: left;
	padding: 0 4%;
}

footer {
	padding: 2% 0;
}

/* media queries 
For the purpose of this exercise, 
I assume the target-group of my coffee website mostly uses a generic laptop as opposed to a phone.
For the blog-exercise, I'll do mobile-first
*/

/* super big fancy screens */

@media screen and (min-width: 1000px) {
	header {
		background-size: 1024px;
		height: 280px;
		background-position: center;
		background-color: #160702;
	}

	.content {
		width: 75%;
	}
}	

/* tablets */

@media screen and (max-width: 900px) {

	article {
		float: none;
		display: block;
		width: 100%;
		overflow: none;
		padding: 2% 0;
	}

}

/* phones */

@media screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}

	h3 {
		font-size: 1.3em;
	}

	header {
		background-image: none;
		background-color: #230B04;
	}

	.content {
		width: 90%;
	}

	nav {
		border-top: 2px dashed #cebb99;
	}

}
