/* Begin CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

/* base */

body {
	font-family: serif;
	font-size: 18px;
	color: #230B04;
	line-height: 1.3em;
	text-align: center;
}

h3 {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0.5rem 0;
}

/* layouts */

.container {
	/*position: relative;*/
	/* Removing this basically did the trick; it's not necessary. The child can be absolute and the parent as well. */
	min-height: 100%;
}

/* I made the container relative so the footer absolute positioning responds to the section element, but it still does not seem to work :( */

header {
	background: url("images/beans.jpg") no-repeat top center;
	background-size: 100%;
	height: 280px;
}

header img {
	margin: 20px;
}

nav, footer {
	background-color: #230B04;
	color: #cebb99;
	width: 100%;
}


nav li {
	display: inline-block;
	margin: 0.5rem 1.5rem;
}

section {
	display: block;
	width: 80%;
	margin: 3rem auto;
}

article {
	width: 40%;
	float: left;
	padding: 0 1rem;
}

footer {
	display: block;
	height: 40px;
	padding: 40px 0;

/* when I comment the absolute part out-it doesn't stick to the bottom, why? I made everything display-block! :(
also, how do I stick the footer to the bottom without making it block the section? I tried googling but I can't make it work.
Help, Mr. Nando, help! */
/*
	Clean, readable code, very very nice work Roos.
	Fixed your thing up there (line 83).
	One question though: do you really want that to stick to the bottom of the screen? You'll have some weird shit happen
	when you make the browser small: http://shots.nan.do/image/1t4644020q27
*/

	position: absolute;
	bottom: 0;
}