/* Begin CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

/* base */

body {
	font-family: serif;
	font-size: 16px;
	color: #230B04;
	line-height: 1.1em;
	text-align: center;
}

h3 {
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0.5rem 0;
}

/* layouts */

header {
	background: url("images/beans.jpg") no-repeat center center;
	background-size: 100%;
}

nav, footer {
	background-color: #230B04;
	color: #cebb99;
	width: 100%;
}

/* note to self: think about how to get the space between the nav and the background image */

nav li {
	display: inline-block;
	margin: 0.5rem 1.5rem;
}

.content {
	width: 70%;
	margin: 3rem auto;
}

article {
	width: 45%;
	float: left;
	padding: 0 1rem;
}

footer {
	padding: 2em;
	position: absolute;
	bottom: 0;
}