/* Begin CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

/* base */

body {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 16px;
	line-height: 1.4em;
}

h1, h2 {
	font-family: 'League Gothic', 'Impact', 'Arial';
	line-height: 1em;
}

h1 {
	font-size: 6rem;
	border-bottom: 2px solid black;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1%;
}

h3 {
	font-weight: bold;
}

ul {
	list-style: none;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

/* layout */

.container {
	width: 90%;
	margin: 0 auto;
}

nav li {
	display: inline-block;
	margin-left: 2rem; /* using a rem value rather than percentage */
}

/* sweet trick alert: look up nth-child */
nav li:first-child {
	margin-left: 0; /* this means the first appearence of this element will have this value */
}

header, article {
	margin-bottom: 5%;
}

article {
	margin-bottom: 5%;
}

.latest {
	display: none;
	line-height: 2em;
}

footer {
	border-top: 2px solid black;
}

/*
 * MODULES
   (add here classes that are re-usable and not specific to a single layout element)
 */

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/* media queries */

@media screen and (min-width: 1000px) {

	/*
	 *  BASE
	 */
	.container {
		width: 95%;
	}

	h1 {
		font-size: 128px;
		display: inline-block;
		border: none;
	}

	h2 {font-size: 2.5rem;
		margin-bottom: 2%;
	}


	/*
	 *  LAYOUT
	 */

	.nav-title {
		position: relative;
		width: 50%;
		float: left;
	}

	nav {
		text-align: right;
		width: 50%;
		float: left;
		margin-top: 91.25px;
	}

	header {
		clear: both;
		width: 100%;
		border-bottom: 2px solid black;
	}

	/* in chrome, for some reason, the nav pops up underneath the bottom-bordr. but, when you refresh, it ends up above, huuhhhh? */

	section {
		clear: both;
	}

	.latest {
		display: block;
		float: left;
		width: 415px;
		margin-right: 10px;
	}

	.main {
		overflow: hidden;
	}

	article {
		max-width: 75em;
	}
}

 /* For debugging only */
/** {
	border: 1px solid green !important;
}*/
