/* BASE */

body {
	font-family: 'Gill Sans','Avenir','Open Sans';
	color: #333;
	font-weight: lighter;
	font-size: 17px;
}

h1 {
	text-align: center;
	font-weight: lighter;
	margin: 0;
}

h3 {
	color: #E4001B;
	margin-top: 30px;
}

h3:nth-child(1) {
	margin-top: 0;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #E4001B;
}

figcaption {
	font-style: italic;
}

img {
	width: 100%;
}

footer img {
	width: 30%;
	height: auto;
	max-width: 200px;
}

/* LAYOUT */

.navbar {
	margin: 0;
	padding: 1rem 0;
}

/* MODULES */

.bottom-margin {
	margin-bottom: 30px;
}

.centered {
	margin: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.content {
	background-color: #F5F5F5;
	padding: 4em 0;
}

.footer {
	text-align: center;
	color: #6F706F;
	font-weight: normal;
	padding: 1em 0;
}

.gray {
	filter: gray; /* IE6-9 */
  		filter: grayscale(1);  /* Firefox 35+ */
  		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  	}

img.gray:hover {
	filter: none;
		-webkit-filter: grayscale(0%);
}

.home-arrow {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
}

.jumbotron {
	color: #FFF;
	letter-spacing: 1em;
	margin-bottom: 0;
}

.jumbotron a {
	color: #FFF;
}

.jumbotron a:hover {
	color: #E4001B;
}

.navbar-brand {
	font-size: 2em;
	letter-spacing: 0.1em;
}

.navbar a {
	color: inherit;
}

.navbar a:hover {
	color: #E4001B;
	background-color: #FFF !important;
}

.top-margin {
	margin-top: 30px;
}
.vertical-align { 
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* JUMBOTRON IMAGES */

.home-image {
	background: url("../images/technology.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
}

.technology-image {
	background: url("../images/oculusguy.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;
}

.business-image {
	background: url("../images/businessmodel.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}

.ebox-image {
	background: url("../images/eboxes.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}

.about-image {
	background: url("../images/about3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}

/* MEDIA QUERIES */

@media (min-width: @screen-lg-min) {
	body {
		font-size: 20px;
	}

	h1 {
		font-size: 48px;
	}
}

