body {
	font-family: 'Gill Sans','Avenir','Open Sans';
	color: #333;
	font-weight: lighter;
	font-size: 17px;
}

h1 {
	text-align: center;
	font-weight: lighter;
	margin: 0;
}

h3 {
	color: #E4001B;
	margin-top: 2em;
}

h3:nth-child(1) {
	margin-top: 0;
}

a #title4 {
	color: #FFF;
	text-decoration: none;
}

a:hover #title4 {
	color: #E4001B;
}

a, a:hover, a:visited{
	text-decoration: none;
	color: #E4001B;
}

/*have a look at the a: hover*/

figcaption {
	font-style: italic;
}

img {
	width: 100%;
}

/*th {
	font-weight: normal;
}

table {
	margin-top: 1.5em;
}*/

footer img {
	width: 30%;
	height: auto;
	max-width: 200px;
}

/* LAYOUT */

.navbar {
	margin: 0;
	padding: 1rem 0;
}

/*.home-arrow {
	position: relative;
	top: 90%;
}*/

/* MODULES */

.gray {
	filter: gray; /* IE6-9 */
  		filter: grayscale(1);  /* Firefox 35+ */
  		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  	}

img.gray:hover {
	filter: none;
		-webkit-filter: grayscale(0%);
}

.navbar-brand {
	font-size: 2em;
	letter-spacing: 0.1em;
}

.navbar a {
	color: inherit;
}

.navbar a:hover {
	color: #E4001B;
	background-color: #FFF !important;
}

.centered {
	margin: auto;
}

.content {
	background-color: #F5F5F5;
	padding: 4em 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.jumbotron {
	color: #FFF;
	letter-spacing: 1em;
	margin-bottom: 0;
}

.footer {
	text-align: center;
	color: #6F706F;
	font-weight: normal;
	padding: 1em 0;
}

.vertical-align { 
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.top-margin {
	margin-top: 3rem;
}

.bottom-margin {
	margin-bottom: 3rem;
}

/* JUMBOTRON IMAGES */

.home-image {
	background: url("../images/technology.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
}

.technology-image {
	background: url("../images/oculusguy.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;
}

.business-image {
	background: url("../images/businessmodel.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}

.ebox-image {
	background: url("../images/eboxes.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}

.about-image {
	background: url("../images/about3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 50vh;	
}